@import "reset";
@import "grid12";

/* Variaveis de Cores */

$color-gray: 		#252222;
$color-light-gray: 	#cdcdcd;
$color-white:		#FFFFFF;
$color-salmon:  	#e2534b;
$color-aqua:    	#62b9b0;
$color-green: 		#65ba99;
$color-blue-dark: 	#032B38;
$color-blue-light: 	#275b6c;
$color-white:		#FFFFFF;
$color-blue-river:  #467687;
$color-wood: 		#D7A36B;
$color-gold: #b9a832;
$color-gray-fosco: #212121;

/* Variaveis de Fontes */

$title-section: Open Sans;
$title-article: Yanone Kaffeesatz;
$text-paragraphs: PT Sans;


body{
	font-family: 'Roboto Condensed', sans-serif;
}

#main-header {
display: block;
	height: 606px;
	background: $color-gray url(../_images/main-header.jpg) no-repeat;
	background-size: cover;
	border-bottom: 1px solid $color-wood;
	overflow: hidden;
}

/* main-logo */
#main-logo {
	display: block;
	width: 502px;
	height: 230px;
	background: url(../_images/main-sprite.png) no-repeat;
	background-position: -237px 0;
	text-indent: -9999em;
	overflow: hidden;
	margin: 128px 0 148px 0;
}

.nav_menu{
	width: 100%;
	height: 100px;
	border-top: 1px solid $color-wood;
	background-color: $color-gray-fosco;
	display: block;
}

.menu1{
	line-height: 100px;
	font-weight: 700;
	font-size: 40px;
	text-transform: uppercase;
	text-decoration: none;
	color:$color-white;
}

.menu2{
	display: block;
	margin-left:20px;
	li{
		display: block;
		float:left;
		position: relative;
		margin-left: 10px;

		&:hover a{
			color:$color-wood;
		}
		&:hover:before {
			content:"";
			width: 50%;
			height: 1px;
			background:$color-wood;
			position: absolute;
			left: 25%;
			bottom: 33px;
		}
		a{
			display: block;	
			font-size:18px;
			margin: 41.5px 0;
			text-decoration:none;
			text-transform: uppercase; 
			color:$color-white;
		}
	}
}


/* bt-social */
.botao {
	display: block;
	float: left;
	width: 36px;
	height: 36px;
	background: url(../_images/main-sprite.png) no-repeat;
	overflow: hidden; 
	margin: 36px 0 0  10px; /*  36 de altura em relação ao nav e 10 de espaço em cada um*/
	text-indent: -9999em;

	&:hover {
		margin-top: 30px;
		transform: rotate(20deg);
		transition:0.3s;
	}
}

.botao2 { // Meniu Socil -  BIO
	display: block;
	float: left;
	width: 36px;
	height: 36px;
	background: url(../_images/main-sprite.png) no-repeat;
	overflow: hidden; 
	margin: 36px 0 0  10px; /*  36 de altura em relação ao nav e 10 de espaço em cada um*/
	text-indent: -9999em;

	&:hover {
		margin-top: 30px;
		transform: rotate(20deg);
		transition:0.3s;
	}
}

.linkedin {
	background-position: 0 0; /*Posicionamento da imagem no sprit */
	margin-left: 120px;		/*Espaçamento do primeiro elemento com o menu2*/
}

.linkedin2{
	background-position: 0 0;
}

.facebook {
	background-position: -36px 0; /*Sempre valores negativos nos eixos.*/
}

.github {
	background-position: -72px 0;
}

.twitter {
	background-position: -108px 0;
}

/* Fim Header*/

/* SEÇÃO SOBRE */
#main-bio{
	display: block;
	background-color: $color-blue-dark;
	margin:auto;
	min-height: 500px;
	border-bottom: 1px solid $color-wood; 
}

.boxControladorBio{
	min-height: 510px;
	padding-top: 90px;
}

	/*HEADER INTERNO ~  Estilização Título*/
.titleBio{			
	font-family: $title-section;
	font-size: 48px;
	font-weight: 600;
	text-align: center;
	margin:53px 0 59px 0;
	color: $color-white;
}	//FIM HEADER INTERNO
	/*BOX 1 - SOBRE*/
.box1{
	display: block;
	float: left;
	max-height: 437px;
}
	/*Subtitulo*/
.myName{
	display: block;
	width: 162px;
	margin: 0 auto 36px 0;
	text-transform: uppercase;
	color: $color-white;
	font-weight: 600;
	font-size:36px;
	font-family: $title-article;
}
	/*Imagem*/
.imageBio{
	display: block;
	width: 230px;
	height: 230px;
	overflow: hidden; 
	text-indent: -9999em;
	margin:36px auto 46px auto;
	background: url(../_images/main-sprite.png) no-repeat;
	background-position: 0 -36px;
}
	/*Controle dos Botões*/
.boxBotaos{
	margin-left:-20px;
	float: left;
}
	/* Fim do BOX1*/
	/*BOX 2 - SOBRE*/
.box2{
	display: block;
	float:left;
	min-height: 437px;
}	
	/*Estilização de Parágrafos*/
.textBio{
	display:block;
	float:left;
	margin-bottom: 20px;
	color: $color-white;
	font-weight: 500;
	font-family:$text-paragraphs;
}
	/*Estilização do Subtitulo*/
.titleTextBio{
	text-transform: uppercase;
	font-weight: 700;
	font-size: 22px;
	margin-bottom: 22px;
	color: $color-white;
	font-family: $title-article;
}
	/* Fim do BOX2*/
/*Fim do SOBRE*/

/*  SEÇÃO PROJETOS */
#main-news{
	display: block;
	margin:auto;
	min-height: 515px; 
	background-color: $color-blue-river;
	border-bottom: 1px solid $color-wood;

}

.titleNews{			
	font-family:$title-article;
	font-size: 48px;
	font-weight: 600;
	text-align: center;
	margin:53px 0 59px 0;
	text-transform: uppercase;
}

//Posts

.news{
	a {
		text-decoration: none;
		display: block;	
		font-size:20px;
		margin-top: 20px;
		text-transform: uppercase; 
		color:$color-white;
		font-family:$text-paragraphs;
		
		
		&:hover .icon{
		transform: rotate(45deg);
		transition:0.5s;
		}

		&:hover p{
			transition:0.7s;
			color:black;			
			text-transform: uppercase;
		}
	}
}

.icon{
	display: block;
	float: left;
	margin-right: 10px;
	background-image: url("../_images/20.png");
	width: 20px;
	height: 20px;
	&:hover {
		transform: rotate(45deg);
		transition:1s;
		
	}
}


//Fim Posts

//Inicio do Rodapé

#main-footer{
	display: block;
	height: 160px;
	background: $color-gray url(../_images/main-footer3.jpg) no-repeat;
	background-size:cover;
	background-position:center;
}

.boxBotaosRodape{
	float: left;
}

.rodape{
	margin-top:30px;
	text-transform: uppercase;
	color:$color-gold;
	font-size:18px;
	font-family: 'Dosis', sans-serif;

}