@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />*/
/* line 5, ../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*
  960 Grid System ~ Core CSS.
  Learn more ~ http://960.gs/

  Licensed under GPL and MIT.
*/
/*
  Forces backgrounds to span full width,
  even if there is horizontal scrolling.
  Increase this if your layout is wider.

  Note: IE6 works fine without this fix.
*/
/* line 16, ../sass/grid12.scss */
body {
  min-width: 960px;
}

/* `Container
----------------------------------------------------------------------------------------------------*/
/* line 23, ../sass/grid12.scss */
.container_12 {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

/* `Grid >> Global
----------------------------------------------------------------------------------------------------*/
/* line 33, ../sass/grid12.scss */
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

/* line 51, ../sass/grid12.scss */
.push_1, .pull_1,
.push_2, .pull_2,
.push_3, .pull_3,
.push_4, .pull_4,
.push_5, .pull_5,
.push_6, .pull_6,
.push_7, .pull_7,
.push_8, .pull_8,
.push_9, .pull_9,
.push_10, .pull_10,
.push_11, .pull_11 {
  position: relative;
}

/* `Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/
/* line 68, ../sass/grid12.scss */
.alpha {
  margin-left: 0;
}

/* line 72, ../sass/grid12.scss */
.omega {
  margin-right: 0;
}

/* `Grid >> 12 Columns
----------------------------------------------------------------------------------------------------*/
/* line 79, ../sass/grid12.scss */
.container_12 .grid_1 {
  width: 60px;
}

/* line 83, ../sass/grid12.scss */
.container_12 .grid_2 {
  width: 140px;
}

/* line 87, ../sass/grid12.scss */
.container_12 .grid_3 {
  width: 220px;
}

/* line 91, ../sass/grid12.scss */
.container_12 .grid_4 {
  width: 300px;
}

/* line 95, ../sass/grid12.scss */
.container_12 .grid_5 {
  width: 380px;
}

/* line 99, ../sass/grid12.scss */
.container_12 .grid_6 {
  width: 460px;
}

/* line 103, ../sass/grid12.scss */
.container_12 .grid_7 {
  width: 540px;
}

/* line 107, ../sass/grid12.scss */
.container_12 .grid_8 {
  width: 620px;
}

/* line 111, ../sass/grid12.scss */
.container_12 .grid_9 {
  width: 700px;
}

/* line 115, ../sass/grid12.scss */
.container_12 .grid_10 {
  width: 780px;
}

/* line 119, ../sass/grid12.scss */
.container_12 .grid_11 {
  width: 860px;
}

/* line 123, ../sass/grid12.scss */
.container_12 .grid_12 {
  width: 940px;
}

/* `Prefix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
/* line 130, ../sass/grid12.scss */
.container_12 .prefix_1 {
  padding-left: 80px;
}

/* line 134, ../sass/grid12.scss */
.container_12 .prefix_2 {
  padding-left: 160px;
}

/* line 138, ../sass/grid12.scss */
.container_12 .prefix_3 {
  padding-left: 240px;
}

/* line 142, ../sass/grid12.scss */
.container_12 .prefix_4 {
  padding-left: 320px;
}

/* line 146, ../sass/grid12.scss */
.container_12 .prefix_5 {
  padding-left: 400px;
}

/* line 150, ../sass/grid12.scss */
.container_12 .prefix_6 {
  padding-left: 480px;
}

/* line 154, ../sass/grid12.scss */
.container_12 .prefix_7 {
  padding-left: 560px;
}

/* line 158, ../sass/grid12.scss */
.container_12 .prefix_8 {
  padding-left: 640px;
}

/* line 162, ../sass/grid12.scss */
.container_12 .prefix_9 {
  padding-left: 720px;
}

/* line 166, ../sass/grid12.scss */
.container_12 .prefix_10 {
  padding-left: 800px;
}

/* line 170, ../sass/grid12.scss */
.container_12 .prefix_11 {
  padding-left: 880px;
}

/* `Suffix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
/* line 177, ../sass/grid12.scss */
.container_12 .suffix_1 {
  padding-right: 80px;
}

/* line 181, ../sass/grid12.scss */
.container_12 .suffix_2 {
  padding-right: 160px;
}

/* line 185, ../sass/grid12.scss */
.container_12 .suffix_3 {
  padding-right: 240px;
}

/* line 189, ../sass/grid12.scss */
.container_12 .suffix_4 {
  padding-right: 320px;
}

/* line 193, ../sass/grid12.scss */
.container_12 .suffix_5 {
  padding-right: 400px;
}

/* line 197, ../sass/grid12.scss */
.container_12 .suffix_6 {
  padding-right: 480px;
}

/* line 201, ../sass/grid12.scss */
.container_12 .suffix_7 {
  padding-right: 560px;
}

/* line 205, ../sass/grid12.scss */
.container_12 .suffix_8 {
  padding-right: 640px;
}

/* line 209, ../sass/grid12.scss */
.container_12 .suffix_9 {
  padding-right: 720px;
}

/* line 213, ../sass/grid12.scss */
.container_12 .suffix_10 {
  padding-right: 800px;
}

/* line 217, ../sass/grid12.scss */
.container_12 .suffix_11 {
  padding-right: 880px;
}

/* `Push Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
/* line 224, ../sass/grid12.scss */
.container_12 .push_1 {
  left: 80px;
}

/* line 228, ../sass/grid12.scss */
.container_12 .push_2 {
  left: 160px;
}

/* line 232, ../sass/grid12.scss */
.container_12 .push_3 {
  left: 240px;
}

/* line 236, ../sass/grid12.scss */
.container_12 .push_4 {
  left: 320px;
}

/* line 240, ../sass/grid12.scss */
.container_12 .push_5 {
  left: 400px;
}

/* line 244, ../sass/grid12.scss */
.container_12 .push_6 {
  left: 480px;
}

/* line 248, ../sass/grid12.scss */
.container_12 .push_7 {
  left: 560px;
}

/* line 252, ../sass/grid12.scss */
.container_12 .push_8 {
  left: 640px;
}

/* line 256, ../sass/grid12.scss */
.container_12 .push_9 {
  left: 720px;
}

/* line 260, ../sass/grid12.scss */
.container_12 .push_10 {
  left: 800px;
}

/* line 264, ../sass/grid12.scss */
.container_12 .push_11 {
  left: 880px;
}

/* `Pull Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
/* line 271, ../sass/grid12.scss */
.container_12 .pull_1 {
  left: -80px;
}

/* line 275, ../sass/grid12.scss */
.container_12 .pull_2 {
  left: -160px;
}

/* line 279, ../sass/grid12.scss */
.container_12 .pull_3 {
  left: -240px;
}

/* line 283, ../sass/grid12.scss */
.container_12 .pull_4 {
  left: -320px;
}

/* line 287, ../sass/grid12.scss */
.container_12 .pull_5 {
  left: -400px;
}

/* line 291, ../sass/grid12.scss */
.container_12 .pull_6 {
  left: -480px;
}

/* line 295, ../sass/grid12.scss */
.container_12 .pull_7 {
  left: -560px;
}

/* line 299, ../sass/grid12.scss */
.container_12 .pull_8 {
  left: -640px;
}

/* line 303, ../sass/grid12.scss */
.container_12 .pull_9 {
  left: -720px;
}

/* line 307, ../sass/grid12.scss */
.container_12 .pull_10 {
  left: -800px;
}

/* line 311, ../sass/grid12.scss */
.container_12 .pull_11 {
  left: -880px;
}

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/
/* http://sonspring.com/journal/clearing-floats */
/* line 320, ../sass/grid12.scss */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */
/* line 331, ../sass/grid12.scss */
.clearfix:before,
.clearfix:after,
.container_12:before,
.container_12:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}

/* line 345, ../sass/grid12.scss */
.clearfix:after,
.container_12:after {
  clear: both;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/
/* line 355, ../sass/grid12.scss */
.clearfix,
.container_12 {
  zoom: 1;
}

/* Variaveis de Cores */
/* Variaveis de Fontes */
/* line 27, ../sass/screen.scss */
body {
  font-family: 'Roboto Condensed', sans-serif;
}

/* line 31, ../sass/screen.scss */
#main-header {
  display: block;
  height: 606px;
  background: #252222 url(../_images/main-header.jpg) no-repeat;
  background-size: cover;
  border-bottom: 2px solid #D7A36B;
  overflow: hidden;
}

/* main-logo */
/* line 41, ../sass/screen.scss */
#main-logo {
  display: block;
  width: 502px;
  height: 230px;
  background: url(../_images/main-sprite.png) no-repeat;
  background-position: -237px 0;
  text-indent: -9999em;
  overflow: hidden;
  margin: 128px 0 148px 0;
}

/* line 52, ../sass/screen.scss */
#nav_menu {
  width: 100%;
  height: 102px;
  border-top: 2px solid #D7A36B;
  background-color: #212121;
  display: block;
}

/* line 60, ../sass/screen.scss */
.menu1 {
  line-height: 100px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}

/* line 69, ../sass/screen.scss */
.menu2 {
  display: block;
  margin-left: 20px;
}
/* line 72, ../sass/screen.scss */
.menu2 li {
  display: block;
  float: left;
  position: relative;
  margin-left: 10px;
}
/* line 78, ../sass/screen.scss */
.menu2 li:hover a {
  color: #D7A36B;
}
/* line 81, ../sass/screen.scss */
.menu2 li:hover:before {
  content: "";
  width: 50%;
  height: 1px;
  background: #D7A36B;
  position: absolute;
  left: 25%;
  bottom: 33px;
}
/* line 90, ../sass/screen.scss */
.menu2 li a {
  display: block;
  font-size: 18px;
  margin: 41.5px 0;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
}

/* bt-social */
/* line 103, ../sass/screen.scss */
.botao {
  display: block;
  float: left;
  width: 36px;
  height: 36px;
  background: url(../_images/main-sprite.png) no-repeat;
  overflow: hidden;
  margin: 36px 0 0  10px;
  /*  36 de altura em rela├º├úo ao nav e 10 de espa├ºo em cada um*/
  text-indent: -9999em;
}
/* line 113, ../sass/screen.scss */
.botao:hover {
  margin-top: 30px;
  transform: rotate(20deg);
  transition: 0.3s;
}

/* line 120, ../sass/screen.scss */
.botao2 {
  display: block;
  float: left;
  width: 36px;
  height: 36px;
  background: url(../_images/main-sprite.png) no-repeat;
  overflow: hidden;
  margin: 36px 0 0  10px;
  /*  36 de altura em rela├º├úo ao nav e 10 de espa├ºo em cada um*/
  text-indent: -9999em;
}
/* line 130, ../sass/screen.scss */
.botao2:hover {
  margin-top: 30px;
  transform: rotate(20deg);
  transition: 0.3s;
}

/* line 137, ../sass/screen.scss */
.linkedin {
  background-position: 0 0;
  /*Posicionamento da imagem no sprit */
  margin-left: 120px;
  /*Espa├ºamento do primeiro elemento com o menu2*/
}

/* line 142, ../sass/screen.scss */
.linkedin2 {
  background-position: 0 0;
}

/* line 146, ../sass/screen.scss */
.facebook {
  background-position: -36px 0;
  /*Sempre valores negativos nos eixos.*/
}

/* line 150, ../sass/screen.scss */
.github {
  background-position: -72px 0;
}

/* line 154, ../sass/screen.scss */
.twitter {
  background-position: -108px 0;
}

/* Fim Header*/
/* SE├ç├âO SOBRE */
/* line 161, ../sass/screen.scss */
#main-bio {
  display: block;
  background-color: #032B38;
  margin: auto;
  min-height: 500px;
  border-bottom: 1px solid #D7A36B;
}

/* line 169, ../sass/screen.scss */
.boxControladorBio {
  min-height: 470px;
  padding-top: 90px;
}

/*HEADER INTERNO ~  Estiliza├º├úo T├¡tulo*/
/* line 175, ../sass/screen.scss */
.titleBio {
  font-family: Open Sans;
  font-size: 48px;
  font-weight: 600;
  text-align: center;
  margin: 53px 0 59px 0;
  color: #FFFFFF;
}

/*BOX 1 - SOBRE*/
/* line 184, ../sass/screen.scss */
.box1 {
  display: block;
  float: left;
  max-height: 437px;
}

/*Subtitulo*/
/* line 190, ../sass/screen.scss */
.myName {
  display: block;
  width: 162px;
  margin: 0 auto 36px 0;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 36px;
  font-family: Yanone Kaffeesatz;
}

/*Imagem*/
/* line 201, ../sass/screen.scss */
.imageBio {
  display: block;
  width: 230px;
  height: 230px;
  margin: 36px auto 0px auto;
  background: url(../_images/main-sprite.png) no-repeat;
  background-position: 0 -36px;
}

/*Controle dos Bot├Áes*/
/* line 210, ../sass/screen.scss */
.boxBotaos {
  margin-left: -20px;
  float: left;
}

/* Fim do BOX1*/
/*BOX 2 - SOBRE*/
/* line 216, ../sass/screen.scss */
.box2 {
  display: block;
  float: left;
  min-height: 437px;
}

/*Estiliza├º├úo de Par├ígrafos*/
/* line 222, ../sass/screen.scss */
.textBio {
  display: block;
  float: left;
  margin-bottom: 20px;
  color: #FFFFFF;
  font-weight: 500;
  font-family: PT Sans;
}

/*Estiliza├º├úo do Subtitulo*/
/* line 231, ../sass/screen.scss */
.titleTextBio {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 22px;
  color: #FFFFFF;
  font-family: Yanone Kaffeesatz;
}

/* Fim do BOX2*/
/*Fim do SOBRE*/
/*  SE├ç├âO POSTS*/
/* line 243, ../sass/screen.scss */
#main-news {
  /*Container da Se├º├úo*/
  display: block;
  margin: auto;
  min-height: 504px;
  background-color: #467687;
  border-bottom: 1px solid #D7A36B;
}

/*Estiliza├º├úo do T├¡tulo*/
/* line 251, ../sass/screen.scss */
.titleNews {
  font-family: Yanone Kaffeesatz;
  font-size: 48px;
  font-weight: 500;
  text-align: center;
  margin: 53px 0 59px 0;
  text-transform: uppercase;
}

/*Estiliza├º├úo do comportamento dos links e paragrafos*/
/* line 261, ../sass/screen.scss */
.news a {
  text-decoration: none;
  display: block;
  font-size: 20px;
  margin-top: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: PT Sans;
}
/* line 270, ../sass/screen.scss */
.news a:hover .icon {
  transform: rotate(45deg);
  transition: 0.5s;
}
/* line 275, ../sass/screen.scss */
.news a:hover p {
  transition: 0.7s;
  color: black;
  text-transform: uppercase;
}

/*Inicio do Rodape 'Footer'
	/*Icone dos Links de Cada Post*/
/* line 285, ../sass/screen.scss */
.icon {
  /*Imagem do Icone*/
  display: block;
  float: left;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-image: url("../_images/20.png");
}

/* line 296, ../sass/screen.scss */
#main-footer {
  display: block;
  height: 160px;
  background: #252222 url(../_images/main-footer3.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

/*Caixa delimitadora dos Bot├Áes*/
/* line 304, ../sass/screen.scss */
.boxBotaosRodape {
  float: left;
  margin: auto;
}

/*Estiliza├º├úo do Nome no <footer>*/
/* line 309, ../sass/screen.scss */
.rodape {
  margin-top: 30px;
  text-transform: uppercase;
  color: #b9a832;
  font-size: 18px;
  font-family: 'Dosis', sans-serif;
}
